@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
} */

body {
    font-family: 'EB Garamond', var(--font-cardo), serif;
}

.news-font {
    font-family: 'EB Garamond', var(--font-cardo), serif;
  }

/* Global text selection styling */
::selection {
    background-color: #16a34a;
    color: #f0f5f0;
}
::-moz-selection {
    background-color: #16a34a;
    color: #f0f5f0;
}