@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
} */

body {
    font-family: 'Optima', var(--font-cardo), serif;
}

.news-font {
    font-family: 'Gill Sans', var(--font-raleway), sans-serif;
  }