@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
} */

body {
    font-family: var(--font-cardo), 'Optima', serif;
}

.news-font {
    font-family: var(--font-raleway), 'Gill Sans', sans-serif;
  }